/*****************TAG SELECTORS*****************/
body {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

p {
  font-family: 'Montserrat', sans-serif;
  color: #8f8f8f;
}

/* headings */
.big-heading {
  font-family: 'Montserrat', sans-serif;
  /* font-weight: 900; */
  size: 3.5rem;
  line-height: 1.5;
}

.section-text {
  font-size: 2.5rem;
  line-height: 1.5;
}

/* Sections */

.colored-section {
  background-color: #ff4c68;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/***Top Section***/
.container-fluid {
  padding: 7% 15%;
}

/* navigation bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

/* Title */

#title {
  text-align: left;
}

#title .container-fluid {
  padding: 3% 7% 15%;
}

.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: relative;
  /* right: 30%; */
}

/* Download buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/*** Features Section ***/

#features {
  position: relative;
}

.feature-container {
  position: relative;
  padding: 5%;
}

/* Features - Icons */
.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}
.icon:hover {
  color: #ff4c68;
}

.feature-title {
  font-size: 1.5rem;
}

/*** Testimonials Section ***/
#testimonials {
  background-color: #ef8172;
}

.testimonial-text {
  font-size: 2.5rem;
  line-height: 1.5;
}
.carousel-item {
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */

#pricing {
  padding: 100px;
}

.pricing-column {
  padding 3% 2%;
}

.price-text {
  font-size: 2.5rem;
  line-height: 1.5;
}

/* CTA Section */

.footer-icon {
  margin: 1rem;
}
.footer-icon:hover {
  color: #8f8f8f;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }
  .title-image {
    position: static;
    transform: rotate(0);
  }
}
